/*@font-face {
    -fx-font-family: "Lato";
    src: url("/fonts/Lato-Regular.ttf");
}
@font-face {
    -fx-font-family: "Lato Bold";
    src: url("/fonts/Lato-Bold.ttf");
}*/
.view {
    /*-fx-background-color: white;*/
    -fx-background-color: rgb(45,45,51);
    -fx-font-family: 'Lato Regular';
}
.common {
    -fx-min-width: 275px;
    -fx-min-height: 40px;
    -fx-max-width: 275px;
    -fx-max-height: 40px;
    -fx-width: 275px;
    -fx-height: 40px;
    -fx-text-alignment: left;
}
.pane {
    -fx-min-width: 400px;
    -fx-min-height: 500px;
    -fx-max-width: 400px;
    -fx-max-height: 500px;
    -fx-width: 400px;
    -fx-height: 500px;
    -fx-background-color: transparent;
}
.input {
    -fx-background-color: white;
    -fx-padding: 5 5 5 35;
    -fx-border-insets: 0;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: rgb(240,240,240);
    -fx-border-radius: 4px;
    -fx-font-size: 14px;
}
.input:focused {
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: #FFCA28;
}
.formButton {
    -fx-hgap: 20px;
    -fx-padding: 40px;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-border-width: 5px;
    -fx-effect: dropshadow(gaussian, #FFCA28, 15, -15, 0, 0);
    -fx-background-color: linear-gradient(to right,#FFCA28,#FFA726);
}
.button:hover {
    /*-fx-effect: none;*/
    -fx-opacity: 0.5;
}
.button-outline {
    -fx-effect: none;
    -fx-background-color: white;
}
.split-box {
    -fx-background-color: transparent;
    -fx-padding: 0;
}
.split-pane:horizontal > .split-pane-divider {
    -fx-background-color: transparent;
    -fx-pref-height: 0;
    -fx-max-height: 0;
    -fx-min-height: 0;
    -fx-padding: 0 0 0 0;
}
.split-pane:vertical > .split-pane-divider {
    -fx-background-color: transparent;
    -fx-pref-height: 0;
    -fx-max-height: 0;
    -fx-min-height: 0;
    -fx-padding: 0 0 0 0;
}
.label {
    -fx-font-size: 14px;
}
.label2 {
    -fx-text-fill: rgb(80,80,80);
    -fx-font-family: 'Lato Bold';
}
.title {
    -fx-font-size: 24px;
    -fx-font-family: 'Lato Bold';
}
#label_version {
    -fx-font-size: 12px;
    -fx-font-family: 'Roboto Thin';
}
.input-error {
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: red;
}