.main {
    -fx-background-color: rgb(34,34,40);
    -fx-text-fill: white;
}
.main .buyBtn {
    -fx-hgap: 20px;
    /*-fx-padding: 40px;*/
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-border-width: 5px;
    -fx-effect: dropshadow(gaussian, #2ecc71, 15, -15, 0, 0);
    -fx-background-color: linear-gradient(to right,#2ecc71,#27ae60);
    -fx-text-fill: white;

    -fx-min-width: 125px;
    -fx-max-width: 125px;
    -fx-pref-width: 125px;

    -fx-min-height: 30px;
    -fx-pref-height: 30px;
    -fx-max-height: 30px;
}
.main .input {
    -fx-background-color: rgba(255,255,255,0.15);
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;

    -fx-min-width: 125px;
    -fx-max-width: 125px;
    -fx-pref-width: 125px;

    -fx-min-height: 30px;
    -fx-pref-height: 30px;
    -fx-max-height: 30px;

    -fx-text-fill: white;
}