.main > .viewport {
    -fx-background-color: transparent;
}
.main {
    -fx-background-color: rgb(40,40,46);
}
.main .header {
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-background-color: rgba(0,0,0,0.15);
}
.main .header .label {
    -fx-alignment: center;
    -fx-text-fill: white;
    -fx-max-height: 65px;
    -fx-pref-height: 65px;
    -fx-min-height: 65px;
    -fx-font-weight: bold;
}